:root {
    /* -------------- ventana modal------------ */
    --bgModalColor: #fbbf2473;
    --bgModalColorTrans: transparent;
    --elementModalColor: black;
    --anchoModal: 35%;
    /* -------------- formulario new user------- */
    --bgColor: #444;
    --bgColorTrans: #44444465;
    --elementColor: black;
    --linkColor: #69f;
    /* ----------------- table ----------------- */
    --bgTable: white;
    --border: 8px solid #374151;
    /* -----------------------slider--------------- */
    --slider-number: 3;
}

dialog,
dialog *,
div.flexbox.modal {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: fantasy;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;/
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.flexbox-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.centred {
    position: relative;
    margin: auto 3rem;
}

/* ====================== ELEMENTS ========================== */
.page-button {
    background-color: yellow;
    border-radius: 1rem;
    padding: 8px;
    border: .1rem solid lightgrey;
    margin: 0 .5rem;
    font-family: fantasy;
    font-weight: 100;
}

.page-button:hover {
    box-shadow: 1px 1px 7px 2px #00000070;
    border: .1rem solid transparent;
}

.process {
    background-color: #34495e;
    color: #dddddd;
    min-width: 100px;
    display: block;
    width: max-content;
}

.action-edit {
    background-color: goldenrod;
}

.action-delete {
    background-color: red;
}

/* -----slider logic---- */
.slider-container {
    position: relative;
    width: 100%;
    margin: var(--margin) auto;
    display: inline-grid;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent,#000 10% 90%,transparent);
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }
}

.slider[autostop="true"]:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider[autostop="true"] .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
    from { left: calc(var(--width) * -1); }
    to { left: 100%; }
}

.pay{
    position: fixed;
    bottom: -20px;
    left: 0;
    padding: 5px 0 0 0;
    background-color: #0000005f;
}
/* --------slider-static-------- */
.slider-static{
    width: 400px;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    overflow:scroll;
    scroll-snap-type: x mandatory;
    margin: 0 auto 2rem auto;
}
.slider-static img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 1rem;
    scroll-snap-align: center;
}
/* --------------controls------------ */
.slider-static-control{
    display: flex;
    position: relative;
    margin: auto;
}
.slider-container p{
    /* position: absolute; */
    color:var(--text-color);
    font-size: x-large;
    margin: auto;
}
.slider-static-control button{
    border-radius: 50%;
    padding: 50%;
    background-color: var(--secondary-color);
    animation: swap 2s ease 2s  infinite;
    font-size: xx-large;
    opacity: 0.5;
    transition: all 5s;
}


@keyframes swap { 100% {translate: 84px;} }

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background: #00000069;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: bold;
}

.control:hover {
    background: #00000099;
}



/* ----------------- tables ---------------- */
/* #tables-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    /* padding: .3rem;   distancia entre el contenedor y la tabla 
    overflow: scroll;
    background-color: var(--bgTable);
    border-radius: 1rem;
} */

#table-consignments {
    width: min(90%, 500px);
}

table {
    /* margin: auto; */
    /* height: min(500px,50%); */
    /* border-top: var(--border); */
    /* border-right: var(--border); */
    /* border-bottom: var(--border); */
    /* border-left: var(--border); */
    /* border-right: 22px solid gold; */
    /* border-radius: 1rem; */
    border-collapse: collapse;
    /* border-spacing: 0; */
}

td,
tr,
th {
    border: none;
    border-left: .2rem solid #000000;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    background-color: var(--bgTable);
}

th {
    /* border-left: none; */
    border-bottom: .2rem solid #000000;
    color: var(--secondary-color);
    background-color: var(--bgTable);
    text-align: center;
    text-wrap: nowrap;
}

th:first-child,
td:first-child {
    border-left: none;
}

td {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:last-child td {
    background-color: var(--bgTable);
}

/* ---------------- menu ----------------- */
#menu {
    /* top: 50px; */
    /* right: 30px; */
    translate: -30px 10px;
}



/* -------------------------------------------------------------------------- */

.remittance-steps {
    background: url(../img/tuto-back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 2em auto;
}

.remittance-steps h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.remittance-steps .intro-text {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 40px;
}

.steps-tuto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 100px auto;
    max-width: 800px;
    gap: 70px;
}

.step-tuto {
   display: flex;
   flex-direction: column;
   text-align: center;
   position: relative;
   aspect-ratio: 1 / 1;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   padding: 50px;
   backdrop-filter:blur(3px);
   background: linear-gradient(359deg, rgb(0, 0, 0), transparent);
   border: 3px solid black;
   border-top: hidden;
   transition: all .5s ease;
}

.step-tuto:hover {
    border: 5px solid #f7a600;
    border-top: hidden;
    border-bottom: 20px solid #f7a600;
    transform: translateY(-15px);
    transition: 0.3s ease;
}

.step-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f7a600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: auto;
    /* position: absolute; */
    translate: 2px 2px;
    border: 5px solid black;
}

.step-tuto h3 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    filter: drop-shadow(2px 4px 2px black);
}

.step-tuto p {
    color: #c7c7c7;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    filter: drop-shadow(0px 5px 2px black);
}

/* Barra vertical */
.step-icon::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 80%;
    background-color: #000000;
    translate: 0px 85px;
}
.step-icon:not(:first-child)::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 85%;
    background-color: #010000;
    translate: 0px -90px;
}
